<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>onl.drew.shakewellerer</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>038E8F1C-A1EE-4A83-A72B-3947FD25AAA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33C48957-71B1-4916-9A86-AEF596FA348E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A47C7B9-7AB6-4B3A-99A6-C55BAE7A4938</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6450468E-6A3B-4A2B-8A39-8BC64B82E883</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B11A90D-4AA5-438A-B06E-33839292C6A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BA41B4F-A6F4-4065-AF24-0F0CBA206F45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B458C08-2B01-4923-A047-0377608A6676</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4342F730-F56A-4285-A645-596B3DDB1257</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D841181-7ACA-4873-AD2F-E3A29DCA6CF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF6B3C27-2750-46DA-AC7A-F23B5526B1BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>330397A8-FAB4-4A06-9D5E-76C97D1C2DC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33C48957-71B1-4916-9A86-AEF596FA348E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BA41B4F-A6F4-4065-AF24-0F0CBA206F45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4342F730-F56A-4285-A645-596B3DDB1257</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E0C1604-52CA-4DBB-BD23-94A33C1A1FF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51EFD53A-D46A-4E3C-8E8D-C6F161C03B19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5445949C-5F58-4466-9C2D-035F932B5AC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E0C1604-52CA-4DBB-BD23-94A33C1A1FF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>548CF1EC-96A5-4A39-93AF-E4803AE5C794</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A35FD27-4879-4AFC-AAA0-83FDEBB874E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6450468E-6A3B-4A2B-8A39-8BC64B82E883</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A35FD27-4879-4AFC-AAA0-83FDEBB874E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>786E4DA3-F2ED-40C9-9F4C-04D3825D4956</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D78DC399-81A1-438C-B4D5-417A8366D896</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E5B2A5E-09D3-4057-8624-4F25CBCF621E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4FD1845-C98B-4941-9DD7-DCA467C22761</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E93EEE7-6295-45E4-BA01-300DC5835C33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51EFD53A-D46A-4E3C-8E8D-C6F161C03B19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D78DC399-81A1-438C-B4D5-417A8366D896</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF6B3C27-2750-46DA-AC7A-F23B5526B1BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0005753-19A1-4B92-A6AB-9430186D8056</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E31B719B-EA2A-4860-9367-03FCE471C42C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>330397A8-FAB4-4A06-9D5E-76C97D1C2DC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4FD1845-C98B-4941-9DD7-DCA467C22761</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7FFD5C0-4C94-4B18-B7B4-85D3B711A7D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0005753-19A1-4B92-A6AB-9430186D8056</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@ausdrew</string>
	<key>description</key>
	<string>🎲 Roll the dice with your snippets!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ShakeWellerer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>hey</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>1A47C7B9-7AB6-4B3A-99A6-C55BAE7A4938</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>hey</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>9E93EEE7-6295-45E4-BA01-300DC5835C33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines7</string>
					<key>Selector</key>
					<string>SnippetGroup7</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>51EFD53A-D46A-4E3C-8E8D-C6F161C03B19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines1</string>
					<key>Selector</key>
					<string>SnippetGroup1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6450468E-6A3B-4A2B-8A39-8BC64B82E883</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>bye</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>F7FFD5C0-4C94-4B18-B7B4-85D3B711A7D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>bye</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>2B458C08-2B01-4923-A047-0377608A6676</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines8</string>
					<key>Selector</key>
					<string>SnippetGroup8</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E0005753-19A1-4B92-A6AB-9430186D8056</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines2</string>
					<key>Selector</key>
					<string>SnippetGroup2</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4342F730-F56A-4285-A645-596B3DDB1257</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>delay</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>038E8F1C-A1EE-4A83-A72B-3947FD25AAA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>delay</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>2D841181-7ACA-4873-AD2F-E3A29DCA6CF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines9</string>
					<key>Selector</key>
					<string>SnippetGroup9</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DF6B3C27-2750-46DA-AC7A-F23B5526B1BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines3</string>
					<key>Selector</key>
					<string>SnippetGroup3</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>33C48957-71B1-4916-9A86-AEF596FA348E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>extlines="${ExtraLines}"
snippets="${Selector}"

encoded_string=$(echo -n "${!snippets}" | base64)

./ShakeWellerer ${!extlines} ${encoded_string}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>ShakeWellerer</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>92225CF6-A66C-4B42-9E01-8815A8D669F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>heart</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>9E5B2A5E-09D3-4057-8624-4F25CBCF621E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>heart</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>1B11A90D-4AA5-438A-B06E-33839292C6A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines4</string>
					<key>Selector</key>
					<string>SnippetGroup4</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3BA41B4F-A6F4-4065-AF24-0F0CBA206F45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines10</string>
					<key>Selector</key>
					<string>SnippetGroup10</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E4FD1845-C98B-4941-9DD7-DCA467C22761</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>quote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>786E4DA3-F2ED-40C9-9F4C-04D3825D4956</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>quote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>548CF1EC-96A5-4A39-93AF-E4803AE5C794</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines5</string>
					<key>Selector</key>
					<string>SnippetGroup5</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6A35FD27-4879-4AFC-AAA0-83FDEBB874E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines11</string>
					<key>Selector</key>
					<string>SnippetGroup11</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D78DC399-81A1-438C-B4D5-417A8366D896</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>quote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>E31B719B-EA2A-4860-9367-03FCE471C42C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>quote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>5445949C-5F58-4466-9C2D-035F932B5AC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines12</string>
					<key>Selector</key>
					<string>SnippetGroup12</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4E0C1604-52CA-4DBB-BD23-94A33C1A1FF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ExtraLines</key>
					<string>ExtraLines6</string>
					<key>Selector</key>
					<string>SnippetGroup6</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>330397A8-FAB4-4A06-9D5E-76C97D1C2DC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>### Installation

Download [ShakeWellerer.alfredworkflow](https://github.com/ausdrew/ShakeWellerer/releases/latest/download/ShakeWellerer.alfredworkflow) and open it to install or update.

The workflow includes a universal native executable for both Apple silicon and Intel Macs. No separate command-line installation is required.

### Configuration
Snippets can be defined in the Alfred Workflow Configuration

Snippets are delimited by `--` (two hyphens).

Each snippet group can have its _Extra Lines_ set separately.

This is the number of newlines that will be added after the snippet is pasted. This is useful for getting your cursor to the next line after your snippet to continue writing, but can be turned off. Newlines and spacing within snippets are kept so you can optionally just include them in your text.

Each snippet group can have a keyword assigned that is used to trigger that snippet group.

#### For more details check out the repo: https://github.com/ausdrew/ShakeWellerer</string>
	<key>uidata</key>
	<dict>
		<key>038E8F1C-A1EE-4A83-A72B-3947FD25AAA8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 3</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>1A47C7B9-7AB6-4B3A-99A6-C55BAE7A4938</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 1</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>1B11A90D-4AA5-438A-B06E-33839292C6A9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 4</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>2B458C08-2B01-4923-A047-0377608A6676</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 2</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>2D841181-7ACA-4873-AD2F-E3A29DCA6CF9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 9</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>330397A8-FAB4-4A06-9D5E-76C97D1C2DC3</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>33C48957-71B1-4916-9A86-AEF596FA348E</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>3BA41B4F-A6F4-4065-AF24-0F0CBA206F45</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>4342F730-F56A-4285-A645-596B3DDB1257</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>4E0C1604-52CA-4DBB-BD23-94A33C1A1FF7</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>51EFD53A-D46A-4E3C-8E8D-C6F161C03B19</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>5445949C-5F58-4466-9C2D-035F932B5AC6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 12</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>548CF1EC-96A5-4A39-93AF-E4803AE5C794</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 5</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>6450468E-6A3B-4A2B-8A39-8BC64B82E883</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>6A35FD27-4879-4AFC-AAA0-83FDEBB874E8</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>786E4DA3-F2ED-40C9-9F4C-04D3825D4956</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 11</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>92225CF6-A66C-4B42-9E01-8815A8D669F2</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Cmdline tool</string>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>9E5B2A5E-09D3-4057-8624-4F25CBCF621E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 10</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>9E93EEE7-6295-45E4-BA01-300DC5835C33</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 7</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>D78DC399-81A1-438C-B4D5-417A8366D896</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>DF6B3C27-2750-46DA-AC7A-F23B5526B1BC</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>E0005753-19A1-4B92-A6AB-9430186D8056</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>E31B719B-EA2A-4860-9367-03FCE471C42C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 6</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>E4FD1845-C98B-4941-9DD7-DCA467C22761</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>F7FFD5C0-4C94-4B18-B7B4-85D3B711A7D7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Trigger for Snippet Group 8</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Hi {{ticket.requester.first_name}},

Thanks for getting in touch with GitHub Support.
--
👋 {{ticket.requester.first_name}},

Thanks for writing in!
--
Hey {{ticket.requester.first_name}},

Thanks for getting in touch.
--
Hello {{ticket.requester.first_name}},

Thanks for writing in to GitHub Support!
--
Greetings {{ticket.requester.first_name}},
--
Hey there {{ticket.requester.first_name}},
--
😎 Hello {{ticket.requester.first_name}},</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>One or more snippets to use randomly. Separate each snippet with "--" (two hyphens).</string>
			<key>label</key>
			<string>Snippet Group 1</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>How many extra lines to place after these pasted snippets, this is useful for getting your text cursor to the right position after your snippet.</string>
			<key>label</key>
			<string>Extra lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Feel free to write back if you have any other questions.

Cheers,
GitHub Support
--
I hope this helps!

Kind regards,
GitHub Support
--
Please let me know if you need anything else.

Farewell,
GitHub Support</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippet Group 2</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Extra lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Apologies for the delay.
--
Sorry that we kept you waiting for a response!
--
I appreciate your patience waiting for our response.
--
I'm sorry we couldn't get to your ticket as soon as I'd like.</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippet Group 3</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Extra Lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>❤️
--
🧡
--
💛
--
💚
--
💙
--
💜
--
🖤
--
🤍
--
🤎
--
💔
--
❣️
--
💕
--
💞
--
💓
--
💗
--
💖
--
💘
--
💝
--
💟</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippet Group 4</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Extra Lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>"Don't cry because it's over, smile because it happened." - Dr. Seuss
--
"Be the change that you wish to see in the world." - Mahatma Gandhi
--
"No one can make you feel inferior without your consent." - Eleanor Roosevelt
--
"Live as if you were to die tomorrow. Learn as if you were to live forever." - Mahatma Gandhi
--
"Be yourself; everyone else is already taken." - Oscar Wilde
--
"The only thing we have to fear is fear itself." - Franklin D. Roosevelt
--
"The unexamined life is not worth living." - Socrates
--
"You only live once, but if you do it right, once is enough." - Mae West
--
"Be the change that you wish to see in the world." - Mahatma Gandhi
--
"In three words I can sum up everything I've learned about life: it goes on." - Robert Frost</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippet Group 5</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Extra Lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippet Group 6</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Extra Lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippet Group 7</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Extra Lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippet Group 8</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Extra Lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippet Group 9</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Extra Lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippet Group 10</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup10</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Extra Lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines10</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippet Group 11</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup11</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Extra Lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines11</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Snippet Group 12</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>SnippetGroup12</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Extra Lines</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ExtraLines12</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/ausdrew/ShakeWellerer</string>
</dict>
</plist>
